/*
 Theme Name:   GP ielloo - GeneratePress Child
 Theme URI:    https://generatepress.com
 Description:  Default GeneratePress child theme
 Author:       Tom Usborne
 Author URI:   https://tomusborne.com
 Template:     generatepress
 Version:      3.2
*/

/** CUSTOM NAVIGATION GENERATEPRESS - PREMIUM **/
/** Stile specifico ielloo, nav centrale, avvolta in bordo SOLO DESKTOP **/
@media (min-width: 820px) {
    .nav-float-right #site-navigation {
        margin: auto;
    }

    .main-navigation .main-nav > ul {
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        font-weight: 700;
        justify-content: center;
        list-style-type: none;
        margin: 0px auto;
        
        /* RIMOSSINI PADDING E SPAZI LATERALI */
        padding: 0px; 
        column-gap: 0; 
        
        border-radius: 10px;
        background-color: #ffffff;
        overflow: hidden; /* Taglia le voci di menu se escono dal bordo arrotondato */
    }

    .main-navigation .main-nav > ul > li > a {
        /* Regola il padding qui per dare respiro alle scritte senza creare buchi bianchi */
        padding: 15px 25px; 
        display: block;
        border-radius: 10px!important;
        margin: 5px!important;
    }

    .main-navigation .main-nav ul li[class*="current-menu-"] > a,
    .main-navigation .main-nav ul li:hover > a {
        /* Se vuoi che lo sfondo giallo arrivi perfettamente al bordo, mantieni 0 o valori bassi */
        border-radius: 0; 
    }
}
@media (max-width: 820px) {
.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    background-color: #ffffff00!important;
}
}

/** STYLE TOGGLE MENU MOBILE **/
.mobile-menu-control-wrapper .menu-toggle {
    align-items: center;
    background-color: var(--global-color-8);
    color: var(--contrast);
    column-gap: 5px;
    display: flex;
    z-index: 2;
    padding: 10px;
    border-radius: 3px;
}

.gp-icon svg {
    top: 0;
}
/** STILE MENU MOBILE - VERSIONE CUSTOM DI QUELLO STANDARD NO OFF CANVAS, ICONA E TRANSIZIONI **/
/* 1. STILE ICONA MENU (HAMBURGER) */
.gp-icon.icon-menu-bars {
    padding: 10px 10px 10px 10px;
    background: var(--accent);
    color: var(--base-3);
    border-radius: 5px;
}

/* 2. RESET CONTROLLI */
.mobile-menu-control-wrapper .menu-toggle, 
.mobile-menu-control-wrapper .menu-toggle:hover, 
.mobile-menu-control-wrapper .menu-toggle:focus {
    background-color: #fff;
}

/* 3. FIX DEL LAYOUT E TRANSIZIONE (No-Shift) */
@media (max-width: 768px) {
    
    /* Evitiamo che il menu sposti il contenuto della pagina */
    #mobile-header {
        position: relative;
        z-index: 1000;
    }

    /* Posizionamento assoluto per non far scivolare il body */
    #mobile-header .main-nav {
        position: absolute;
        top: 100%; /* Inizia esattamente sotto l'header */
        left: 0;
        width: 100%;
        z-index: 999;
    }

    #mobile-header .main-nav > ul {
        display: block !important;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        background-color: #fff; /* Colore di sfondo del menu */
        transition: max-height 400ms ease-in-out, opacity 300ms ease-in-out;
        box-shadow: 0 10px 15px rgba(0,0,0,0.1); /* Ombra per staccare dal body */
    }

    /* Stato Aperto */
    #mobile-header.toggled .main-nav > ul {
        max-height: 80vh; /* Altezza massima 80% della finestra */
        opacity: 1;
    }

    /* Bordi interni */
    .main-navigation.toggled .main-nav li {
        border-bottom: 1px solid var(--base-3);
    }
    
    .main-navigation.toggled .main-nav ul li:first-child a {
        border-top: 1px solid var(--base-3);
    }
}
/********************************/
/** Bottoni - CTA - nel menu principale ...
//se vogliamo inserire dei bottoni nel menu principale 1 max 2. classi 
.cta-primary per last-child (ultimo a destra)
.cta-secondary per il penultimo
/*********************************/

/** Desktop**/
/* Natural State */
.main-navigation .main-nav .cta-primary a {
    color: var(--base-2);
    background-color: var(--accent);
    border-radius: 0px;
	border: 2px solid var(--accent);
    margin-left: 10px;
}
.main-navigation .main-nav .cta-secondary a {
    color: var(--base-3)!important;
    background-color: var(--secondary-color)!important;
    border-radius: 0px;
	border: 2px solid var(--seconday-color);
}

/* Hover State */
.main-navigation .main-nav ul li a:hover {
    /* Aggiungi anche border-color alla transizione */
    transition: background-color 0.3s ease, border-color 0.7s ease;
}

.main-navigation .main-nav .cta-primary a:hover{
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 0px;
	border: 2px solid var(--primary-color);
}
.main-navigation .main-nav .cta-secondary a:hover {
    color: var(--base-2);
    background-color: var(--secondary-color);
    border-radius: 0px;
	border: 2px solid var(--secondary-color);
}

/** Moble **/
@media (max-width: 768px) {
	.main-navigation .main-nav .cta-primary a,
	.main-navigation .main-nav .cta-secondary a {
        text-align: center;
		margin: 5px;
	}
}



/* End Navigation style */

/** GENERATE BLOCKS STYLE **/
/** Custom Style for Tacchetto Service 2025 */
.gbp-section {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 40px
}

@media (max-width:1024px) {
    .gbp-section {
        padding: 6rem 30px
    }
}

@media (max-width:767px) {
    .gbp-section {
        padding: 4rem 20px
    }
}
    .gbp-section__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--gb-container-width);
    position: relative;
    z-index: 1
}
.gbp-section__tagline {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    text-transform: uppercase
}
.gbp-section__headline {
    margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
    .gbp-section__headline {
        margin-bottom: 1.25rem;
    }
}
.gbp-section__text {
    font-size: 1.125rem;
}
.gbp-section--background {
    background-color: #000000;
    color: #ffffff;
}
.gbp-button--primary {
    background-color: var(--accent);
    color: #ffffff;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    border: 0px solid currentColor;
    border-radius: 9999px;
    padding: 0.75rem 1.5rem
}

.gbp-button--primary:is(:hover,:focus) {
    background-color: #000000;
    color: #ffffff
}
.gbp-card {
    padding: 1.5rem;
}

@media (max-width: 767px) {
    .gbp-card {
        padding: 1.25rem;
    }
}
.gbp-card--border {
    border: 1px solid #000000;
}
.gbp-card__title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem
}
.gbp-card__meta-text {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}
.gbp-card__text {
    font-size: 1rem;
    margin-bottom: 0px;
}
.gbp-overlay-panel {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06),0 8px 16px rgba(0,0,0,0.1)
}
.gbp-overlay-panel__close {
    align-items: center;
    background-color: var(--base-3);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-style: solid;
    border-left-width: 0px;
    border-right-style: solid;
    border-right-width: 0px;
    border-top-style: solid;
    border-top-width: 0px;
    color: #000000;
    column-gap: 0.5em;
    display: inline-flex;
    padding: 8px
}

.gbp-overlay-panel__close:is(:hover,:focus) {
    background-color: #000000;
    color: #ffffff
}

.gbp-overlay-panel__close .gb-shape svg {
    width: 16px;
    height: 16px;
    fill: currentColor
}
.gbp-list--unstyled {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px
}
.gbp-footer {
    font-size: 0.875rem;
    padding: 5rem 40px
}

.gbp-footer a {
    font-size: 0.875rem
}

@media (max-width:1024px) {
    .gbp-footer {
        padding: 4rem 30px
    }
}

@media (max-width:767px) {
    .gbp-footer {
        padding: 3rem 20px
    }
}
.gbp-footer__title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem
}
.gbp-footer__link {
    color: var(--base-2);
    display: block;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem
}

.gbp-footer__link:is(:hover,:focus) {
    color: var(--contrast-3);
    text-decoration: underline
}
.gpb-icon--social {
    align-items: center;
    color: var(--base-2);
    column-gap: 0.5em;
    display: inline-flex;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out 0s;
    border: 0px solid var(--contrast);
    padding: 8px 1rem
}

.gpb-icon--social:is(:hover,:focus) {
    color: var(--contrast-3);
    border-top-color: #ffffff;
    border-bottom-color: #fafafa;
    background-color: var(--global-color-pro-4)
}

.gpb-icon--social .gb-shape svg {
    width: 1em;
    height: 1em;
    fill: currentColor
}

@media (max-width:1024px) {
    .gpb-icon--social {
        color: var(--base-2);
        justify-content: center
    }
}
.gpb-section__text_sm {
    font-size: 0.9rem
}
.has-gradient-bg {
    background-blend-mode: normal;
    background-color: var(--contrast-2);
    background-image: linear-gradient(358deg,var(--contrast) 0%,var(--contrast-2) 74%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--base-3)
}
.gpb-mega-card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px
}

@media (max-width:767px) {
    .gpb-mega-card {
        border-radius: 0px
    }
}
.gpb-button--tertiary {
    background-color: var(--base);
    color: var(--contrast);
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    border: 0px solid currentColor;
    border-radius: 9999px;
    padding: 0.75rem 1.5rem
}

.gpb-button--tertiary:is(:hover,:focus) {
    background-color: var(--base-3)
}
.gpb-button--secondary {
    color: var(--base-3);
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    border: 2px solid var(--base-3);
    border-radius: 9999px;
    padding: 0.75rem 1.5rem
}

.gpb-button--secondary:is(:hover,:focus) {
    background-color: var(--base-3);
    color: var(--contrast)
}
.serachbox {
    background-color: var(--base-2);
    margin-bottom: 30px;
    border-radius: 999px;
    padding: 10px
}

@media (max-width:767px) {
    .serachbox {
        border-radius: 5px;
        padding: 15px
    }
}
.gpb-socialicon--tooglemenu {
    font-size: 2rem
}

.gpb-socialicon--tooglemenu a {
    color: var(--contrast-2)
}